# Скопировать подходящий вариант в .env.local.

# Docker backend
# BACKEND_API_URL=http://localhost:8080/api
# BACKEND_HUB_URL=http://localhost:8080/notification

# Local backend without Docker
# BACKEND_API_URL=http://localhost:53959/api
# BACKEND_HUB_URL=http://localhost:53959/notification

# Клиент подключается через rewrite
NEXT_PUBLIC_HUB_URL=/backend-hub