# dependencies
node_modules/

# TODO: Добавьте .idea, .vscode, чтобы папки IDE не сохранялись в гите

# Next.js
.next/
out/

# testing
coverage/
test-results/
playwright-report/

# production
dist/
build/

# environment
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db
