@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background: $color-bg;
}

.teacherMobileNavSpacer {
  display: none;
}

@include tablet {
  .teacherMain {
    padding-bottom: 12px;
  }

  .teacherMobileNavSpacer {
    display: block;
    min-height: calc(68px + env(safe-area-inset-bottom));
    background: $color-surface;
  }
}
